<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Bookies</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <a href="/">Home Page</a>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
            <a href="/publisher">Publishers</a>
            <a href="/characters">Characters</a>
            <a href="/series">Series</a>
            <a href="/volumes">Volumes</a>
            <button id="logout">Log Out</button>
   
    </header>
    <main>
    {{{body}}}
    </main>
    <footer><h2>data provided by comicvine api</h2></footer>

    <script src="/js/logout.js"></script>
    


 
</body>
<script type="module" src="/js/logout.js"></script>

</html>
