<div id="log-in">
<h1>Log in</h1>

<form id="loginForm">
    <input type="text" id="loginUsername" placeholder="username">
    <input type="password" id="loginPassword" >
    <button>Log in</button>
</form>
</div>
 <h2 id="welcome-back">welcome back comic fans!</h2>
<div>
    <image id="justice" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_h55Aus-j-YQ6noWFdNzbNI4jml-P1IRQYA&usqp=CAU"></image>
</div>
<script src="/js/login.js"></script>