<div id="log-in">
<h1>Log in</h1>

<form id="loginForm">
    <input type="text" id="loginEmail" placeholder="email">
    <input type="password" id="loginPassword" >
    <button>Log in</button>
</form>
</div>
<script src="/js/login.js"></script>