<div id="publisher">
    <h1>Publisher</h1>

    <form id="publisherForm">
    <input type="text" id="publisherRequest" placeholder="Publisher">
    <button>Publisher</button>
</form>
</div>
<script src="/js/publisher.js"></script>