<div id="publisher">
    <h1>Publishers</h1>
{{#each allPublishers}}
<section class="pub-box" id="pubs">
    <h2 id="title-post">{{name}}</h2>
    <p id="post-text"> {{deck}}</p>
    <h3 id="users">{{description}} </h3>
</section>
{{/each}}
    <form id="publisherForm">
    <input type="text" id="publisherRequest" placeholder="Publisher">
    <button>search</button>
</form>
</div>
<script src="/js/publisher.js"></script>