
<div id="sign-up">
<h1>Sign up</h1>

<form id="signupForm">
    <input type="text" id="signupEmail" placeholder="email">
    <input type="text" placeholder="username" id="signup-username">
    <input type="password" id="signupPassword" >
    <label for="fav-Publishers">Favorites (click to remove)</label>
    <section id="fav-box"></section>
    <select id="fav-pubs">
        {{#each publishers}}
        <option value="{{id}}">{{name}}</option>
    </select>
    <button type="button" id="addFav">Add Favorite</button>
    <button>Sign up</button>
</form>
</div>
<script src="/js/signup.js"></script>