
<div id="sign-up">
<h1>Sign up</h1>

<form id="signupForm">
    <input type="text" id="signupEmail" placeholder="email">
    <input type="text" placeholder="username" id="signup-username">
    <input type="password" id="signupPassword" >
    <button>Sign up</button>
</form>
</div>
   
<div>
    <image id="deadpool" src="https://peacetimesmedia.com/wp-content/uploads/2016/02/CVqIAA2UEAA-wPA.jpg"></image>
</div>
<script src="/js/signup.js"></script>