*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url('./old-comics.jpg');

}

header {
    border: solid 2px black;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: darkslategrey;
    font-size: larger;   
}
header a{
    color:aliceblue
}

main {
    height: 100vh;
    width:70vw;
    margin:0 auto;
    border:solid black 2px;
    background-color: aliceblue;
}
footer{
    background-color: darkslategray;
    color:aliceblue;
    display: flex;
    justify-content: center;
    width: 100vw;
    position:static;
    bottom:0;
}
#welcome{
    display: flex;
    justify-content: center;
    border: solid black 2px;
    background-color:darkslateblue;
    color:aliceblue;
}
#log-in{
   text-align: center;
    background-color: darkslateblue;
    color:aliceblue;
}
#sign-up{
    text-align: center;
    background-color: darkslateblue;
    color:aliceblue;
}
#upload_widget{
    margin: 15px;
    margin-left:55vw;
    margin-top: 58vh;
    background-color: darkslategray;
    border-radius: 15px;

}
#posts{
    display: flex;
    flex-direction: column;
    width:fit-content;
    padding:8px;
    margin:25px;
    margin-left: 23vw;
    background-color: darkslategray;
    border-radius: 15px;
    color:aliceblue;
}
#users{
    text-decoration: underline;
    text-align: center;
    color:lemonchiffon;
}
#title-post{
    text-align: center;
    text-shadow: 2 ;
}
