*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url('./old-comics.jpg');

}

header {
    border: solid 2px black;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: darkslategrey;
    font-size: larger;   
}
header a{
    color:aliceblue
}

main {
    min-height: 80vh;
    width:70vw;
    margin:0 auto;
    border:solid black 2px;
    background-color: aliceblue;
}
footer{
    background-color: darkslategray;
    color:aliceblue;
    display: flex;
    justify-content: center;
    width: 100vw;
    position:absolute;
    bottom:0;
}
#welcome{
    display: flex;
    justify-content: center;
    border: solid black 2px;
    background-color:darkslateblue;
    color:aliceblue;
}
#log-in{
   text-align: center;
    background-color: darkslateblue;
    color:aliceblue;
}
#sign-up{
    text-align: center;
    background-color: darkslateblue;
    color:aliceblue;
}
#upload_widget{
    margin: 15px;
    margin-left:5vw;
    margin-top: 70vh;
    background-color: darkslategray;
    border-radius: 15px;

}